//- ************************************************************************ -//
//-                                                                          -//
//-                                                       :::      ::::::::  -//
//-  keyscreen.jade                                     :+:      :+:    :+:  -//
//-                                                   +:+ +:+         +:+    -//
//-  By: adjivas <adjivas@student.42.fr>            +#+  +:+       +#+       -//
//-                                               +#+#+#+#+#+   +#+          -//
//-  Created: 2014/11/05 10:02:36 by adjivas           #+#    #+#            -//
//-  Updated: 2014/11/05 10:02:36 by adjivas          ###   ########.fr      -//
//-                                                                          -//
//- ************************************************************************ -//

program
  keyboard
    select#alphabet
    letters
  dictionary
    search
    items
